<!DOCTYPE html>
<html>

<head>

<title>Hu. 后台主题UI框架 - 主页</title>
<% include("/pager/common/resource.html"){} %>
</head>

<body>
	<div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<!-- 菜单模板 -->
				<% include("/pager/common/menu.html"){} %>
			</div>
		</nav>

		<div id="page-wrapper" class="gray-bg dashbard-1">
		
			<!-- 头部模板 -->
			<% include("/pager/common/header.html"){} %>


			<!-- coding here -->


			<!-- 尾部模板 -->
			<% include("/pager/common/footer.html"){} %>

		</div>
	</div>
</body>

</html>
